h1{
	text-align: center;
}
section{
	border-style: solid;
	border-color: #000000;
	margin-right: -3px;
}
div{

	border-style: solid;
	border-color: #000000;
	width: 325px;

}
#a {
	background-color: blue;
}
#b{
	background-color: red;
}
#c{
	background-color: green;
}

@media (min-width:992px ) {
	div{

		float: left;
	margin:10px 50px 50px 50px;
	background-color: #D3D3D3;
	padding: 70px 3px 10px 3px;
}
section{
	border-style: solid;
	border-color: #000000;
	text-align: center;
	float: right;
	background-color: red;
	width: 200px;
	clear: left;
	font-size: 50px;
	margin-top:-70px; 
}
}
@media (min-width:768px ) and (max-width:991px ){
	div#Chicken , div#Beef{
		
		float: left;
	margin:10px 50px 50px 50px;
	background-color: #D3D3D3;
	padding: 70px 3px 10px 3px;
}
section{
	text-align: center;
	float: right;
	background-color: red;
	width: 200px;
	clear: left;
	font-size: 50px;
	margin-top:-70px; 
}
div#Sushi{
		width: 33%;
		float: left;
	margin:10px 50px 50px 50px;
	background-color: #D3D3D3;
	padding: 70px 3px 10px 3px;
}
section{
	text-align: center;
	float: right;
	background-color: red;
	width: 200px;
	clear: left;
	font-size: 50px;
	margin-top:-70px; 
}
}
@media (max-width:767px ){
		div{
	margin:10px 50px 50px 50px;
	background-color: #D3D3D3;
	padding: 70px 3px 10px 3px;
}
section{
	text-align: center;
	float: right;
	background-color: red;
	width: 200px;
	clear: left;
	font-size: 50px;
	margin-top:-70px; 
}	
}